* {
  margin: 0px;
  paddng: 0px; }

.items a, .items a:active, .items a:link, .items a:visited {
  color: #3300CC;
  display: block;
  margin-top: 10px; }

.items a {
  color: #4ed767 !important;
  text-decoration: none;
  font-size: 30px;
  margin: 11px 4px; }
  .items a:hover {
    color: #ffb3ff !important; }
  .items a:visited {
    color: #c458cb !important; }

body {
  background: url("../img/diagonal-noise.png") repeat #3264af;
  margin: 0 auto !important;
  padding: 20px; }

.container {
  width: 1200px; }

.wHolder {
  width: 1000px;
  margin: 0 auto; }

.breacker {
  clear: both;
  display: block;
  float: none; }

.mid {
  margin: 0 auto; }

[class*="span"] {
  float: left;
  margin-left: 0px;
  min-height: 1px; }

header {
  font-family: Helvetica, Arial, sans-serif;
  color: #3264af;
  padding: 50px;
  margin: 0;
  margin-left: 0; }
  header h1 {
    color: #f800be;
    font-size: 45px; }
  header .circ {
    height: 150px;
    width: 150px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    margin: 50px;
    box-shadow: 1px 3px 2px  #5a5a5a;
    background-color: rgba(213, 168, 199, 0.91);
    margin: -69px 0;
    float: right; }

.featurette-heading {
  width: 540px;
  float: left;
  margin: 0 5px; }

.items {
  border: 1px solid #d3d1e0;
  -moz-border-radius: 15px 1px;
  xborder-radius: 15px 15px 15px 0px;
  background: rgba(254, 254, 254, 0.68);
  padding: 0px;
  margin: 0 0 15px;
  box-shadow: -1px -1px 1px rgba(74, 73, 73, 0.2); }

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  float: left; }

.imgHolder {
  float: left;
  padding: 0; }

.pad {
  padding: 0 20px; }

.txt_items {
  color: #AA17D7;
  margin: 0 6px;
  float: left; }

.breaker
#page-wrap {
  padding-top: 20px;
  padding-left: 20px; }

.items a:hover {
  text-decoration: none; }

.brief {
  font-size: 0.8em;
  padding-left: 10px; }

.long {
  font-size: 0.8em;
  padding-left: 10px; }

@media (min-width: 768px) and (max-width: 979px) {
  .span12 {
    width: 920px; } }
